################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Excel Scroll At One Line/bin
/Excel Scroll At One Line/obj
/Excel Scroll At One Line/Excel Scroll At One Line.csproj.user
